.container {
  padding-inline-start: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline-end: 29px;
}

.form-box-email {
  display: inline;
}

.box-transactions {
  padding: 25px;
}

.btn-validate-email {
  width: 19%;
  margin-inline-start: 14px;
  margin-block-end: 15px;
}

.example-card {
  flex: 1 1 calc(33.33% - 16px);
  /* Ajusta el tama単o de las tarjetas, restando el margen */
  margin: 8px;
  /* Margen entre tarjetas */
  margin-inline-end: 16px;
  /* A単ade margen al final de cada tarjeta */
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-fund {
  flex: 0 0 calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 17px;
  text-align: start;
  background: ghostwhite;
}

.header-card-fund {
  width: 100%;
  text-align: left;
}

.body-card-fund {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-card-fund {
  width: 100%;
  text-align: left;
}

.title-card-fund {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bolder;
  color: gray;
}

.price-fund {
  font-size: 19px;
  color: green;
  font-weight: 700;
  font-family: monospace;
  margin: 0;
}

.type-fund {
  color: black;
  font-size: 15px;
  font-family: sans-serif;
}

.btn-subscribe {
  width: 50%;
  padding: 6px;
  border-radius: 18px;
  border: 1px solid indianred;
  background: indianred;
  margin-block-start: 10px;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 50%;
  min-width: 27px;
  color: white;
}

.dark-text {
  color: black;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 15px;
}


@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas peque単as */
  }
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy peque単as */
  }
}
